<div class="card">
  <div class="card-body">
    <form [formGroup]="grupoForm" (ngSubmit)="crearGrupo()">
      <div class="mb-3">
        <!-- <label for="exampleInputEmail1" class="form-label"
          >Nombre de la Materia</label> -->
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="nombre"
          placeholder="Nombre del grupo"
        />
        <div id="emailHelp" class="form-text"></div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled] = "grupoForm.invalid">Crear Grupo</button>
    </form>
  </div>
</div>

<app-listar-grupo></app-listar-grupo>

