<div class="card">
    <div class="card-body">
      <form [formGroup]="docenteForm" (ngSubmit)="crearDocente()">
        <div class="mb-3">
          <!-- <label for="exampleInputEmail1" class="form-label"
            >Nombre de la Materia</label> -->
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="nombre"
            placeholder="Nombre de el docente"
          />
          <div id="emailHelp" class="form-text"></div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled] = "docenteForm.invalid">Crear Docente</button>
      </form>
    </div>
  </div>

  <!-- <div class="card"> -->
    <!-- <div class="card-body"> -->
      <app-listar-docente></app-listar-docente>
    <!-- </div> -->
  <!-- </div> -->

